  <div class="w-full mt-4">
    <!--Heading-->
    <div
      class="bg-default bg-gradientPattern text-center rounded border-2 border-neutral-700 py-3 px-5"
    >
      <h3 class="text-2xl">Recent Cities Searched</h3>
    </div>
    <!--  Tabs-->
    <ng-container *ngFor="let city of searchedCities">
      <div
        class="bg-white text-center rounded border-2 border-neutral-400 py-3 px-5 cursor-pointer my-1.5 lg:h-10 lg:py-0"
        (click)="searchForCity(city)"
      >
        <h3 class="text-2xl lg:text-lg text-center">{{ city }}</h3>
      </div>
    </ng-container>
  </div>
