<ng-container *ngIf="!!currentForecast">
  <div
    class="h-[400px] mr-4 font-medium p-2 mb-3 ml-4 bg-default bg-gradientPattern border-2 border-neutral-700 rounded flex flex-col flex-nowrap grow justify-around lg:mt-3.5"
    [ngClass]="{ 'swing-in-top-fwd': !loading }"
  >
    <h1
      class="xs:text-3xl sm:text-4xl flex flex-row flex-nowrap xs:flex-wrap items-center justify-between"
    >
      {{ currentForecast.city }} -
      {{
        convertDate(currentForecast.date) | date: "EEEE, MMMM d, y, h:mm:ss a"
      }}
    </h1>
    <div class="flex flex-row flex-nowrap">
      <ng-container *ngFor="let weather of currentForecast.weather">
        <app-weather-icon [weatherDescription]="weather"></app-weather-icon>
      </ng-container>
    </div>
    <div class="w-full flex flex-row flex-nowrap justify-between">
      <div class="flex flex-col flex-nowrap">
        <p class="text-lg my-1">Temperature: {{ currentForecast.temp }} F</p>
        <p class="text-lg my-1">Humidity: {{ currentForecast.feelsLike }}%</p>
        <p class="text-lg my-1">
          Wind Speed: {{ currentForecast.windSpeed }} MPH
        </p>
        <p class="text-lg my-1">
          UV Index:
          <span
            class="p-1 rounded"
            [ngClass]="{
              'bg-low': currentForecast.uvi >= 0 && currentForecast.uvi <= 2.99,
              'bg-moderate': currentForecast.uvi >= 3 && currentForecast.uvi <= 5.99,
              'bg-high': currentForecast.uvi >= 6 && currentForecast.uvi <= 7.99,
              'bg-veryHigh': currentForecast.uvi >= 8 && currentForecast.uvi <= 10.99,
              'bg-extreme': currentForecast.uvi >= 11
            }"
            >{{ currentForecast.uvi }}</span
          >
        </p>
      </div>
      <div class="w-auto flex flex-col flex-nowrap gap-y-1 text-lg">
        <p>Cloud Cover: {{ currentForecast.cloudCover }}%</p>
        <p>Feels Like: {{ currentForecast.feelsLike }} F</p>
        <p>
          Sunrise:
          {{ convertDate(currentForecast.sunrise) | date: "shortTime" }}
        </p>
        <p>
          Sunset: {{ convertDate(currentForecast.sunset) | date: "shortTime" }}
        </p>
      </div>
      <div class="w-auto flex flex-col flex-nowrap gap-y-1 text-lg">
        <p>Dew Point: {{ currentForecast.dewPoint }}%</p>
      </div>
    </div>
  </div>
</ng-container>
