* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.forecast-items {
    height: 250px !important;
}

.before-click {
    opacity: 0;
}

.cold-day {
    background-color: #4d5dfb;
    background-image: linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%);
}


/* UV Index Styles Start */
.low {background-color: darkgreen;}
.moderate {background-color: yellow;}
.high {background-color: darkorange;}
.very-high {background-color: red;}
.extreme {background-color: #800080;}
/* UV Index Styles End */