<ng-container *ngIf="!!forecast">
  <div
    class="w-64 sm:w-64 lg:w-52 xs:h-64 lg:h-[13rem] border-2 border-neutral-700 rounded bg-gradientPattern bg-default flex flex-col p-2 m-2 lg:self-start"
  >
    <p class="font-medium text-xl basis-full whitespace-nowrap lg:text-base lg:font-bold">
      {{ convertDate(forecast.date) | date: "ccc MMMM dd, YYY" }}
    </p>
    <ng-container *ngFor="let weather of forecast.weather">
      <app-weather-icon [weatherDescription]="weather"></app-weather-icon>
    </ng-container>
    <div class="flex flex-col justify-between xs:text-lg lg:text-sm">
      <p><span class="font-bold">Sunrise:</span> {{ convertDate(forecast.sunrise) | date: "shortTime" }}</p>
      <p><span class="font-bold">Sunset:</span> {{ convertDate(forecast.sunset) | date: "shortTime" }}</p>
      <p><span class="font-bold">Temp:</span> {{ forecast.temp.day }} F</p>
      <p><span class="font-bold">Humidity:</span> {{ forecast.humidity }}%</p>
    </div>
  </div>
</ng-container>
