<ng-container *ngIf="!!forecast">
  <div
    class="w-80 h-56 border-2 border-neutral-700 rounded bg-gradientPattern bg-default flex flex-col p-2 m-2"
  >
    <p class="font-medium text-xl basis-full">
      {{ convertDate(forecast.date) | date: "fullDate" }}
    </p>
    <ng-container *ngFor="let weather of forecast.weather">
      <app-weather-icon [weatherDescription]="weather"></app-weather-icon>
    </ng-container>
    <div class="flex flex-col justify-between">
      <p>Sunrise: {{ convertDate(forecast.sunrise) | date: "shortTime" }}</p>
      <p>Sunset: {{ convertDate(forecast.sunset) | date: "shortTime" }}</p>
      <p>Temp: {{ forecast.temp.day }} degrees</p>
      <p>Humidity: {{ forecast.humidity }}%</p>
    </div>
  </div>
</ng-container>
